*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  align-content: center;
  gap: 30px;
  padding: 133px 30px;
}

.result__video-container {
  position: relative;
  padding: 77px 0 0;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title,
.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  padding: 2px 1px;
}

.search-form__label-text:hover,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  min-width: 225px;
  min-height: 27px;
  border: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:has(:focus-visible),
.content__video-card:has(:focus-visible) {

  outline: 1px solid #fff;
}

.search-form__textfield:active {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  margin: 1.5px auto;
  /* position: absolute; */
  /* left: 1px; */
  /* top: 1px; */
  background: #fff;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  justify-content: center;
  align-items: center;
  align-self: end;
  min-height: 34px;
  outline: none;
  padding: 1px;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 3px double #fff;
}

.search-form__submit-button {
  min-width: 194px;
}

.content__details {
  min-height: 534px;
  min-width: 399px;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 298px;
  overflow: auto;
}

.content__list-item {
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  display: block;
  color: #fff;
  margin: 2px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.content__video-card-description-container {
  height: 100%;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  max-height: 194px;
  min-width: 103px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}