*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 133px 30px;

}

.result__video-container {
  padding-bottom: 26px;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
}


.search-form {
  display: flex;
  justify-content: space-between;
}

.content__details {
  min-height: 534px;
  min-width: 399px;
}

.content__list {
  padding-top: 26px;
  max-height: 298px;
  overflow: auto;
}

.content__list li:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content:space-around;
}

.content__video-card-description-container {
  height: 100%;
  width: 100%;
}

.content__video-card-thumbnail {
  max-height: 194px; 
  min-width: 103px;

}